.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.App__container {
    border: 2px solid rgb(255, 255, 255);
    display : flex;
    flex-wrap: wrap;
    width:80%;
    margin: 0 auto;

}
.repo-list__langauge{
    background-color: rgb(29, 30, 31);
    color:white;
    height: 60px;
    align-content: centers;
    font-size: 30px;
}
.repo-list__remove-button{
    width: 30px;
    height: 30px;
    float: right;
    background-color: rgb(218, 10, 10);
    color:white;
    font-size: 20px;
    border-radius: 5px;
}
.repo-list {
    flex: 1;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(31, 41, 46);
    margin:5px;

}
.repo-box {
    height:350px;
    margin:0px;
}
.repo-box__name {
    background-color: rgb(66, 70, 68);
    margin: 0;
    height:20px;
}
.repo-box__name h4 {
    /* height:10px; */
    color: white;
    margin: 0;
}

.language-search form{
    height: 50px
}

p {
    color: rgb(7, 7, 7);
    font-size: 14px;
    text-shadow: silver;
    padding: 10px;
}


