.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App__container {
    display : flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.repo-list__langauge {
    background-color: rgb(22, 149, 212);
    color:white;
    height: 60px;
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
.repo-list__button {
    position: absolute;
    top: 5px;
    right: 5px;
}
.repo-list__remove-button {
    width: 30px;
    height: 30px;
    float: right;
    background-color: rgb(218, 10, 10);
    color:white;
    font-size: 20px;
    border-radius: 5px;
    flex-wrap: wrap;
    align-items: flex-end;
}

.repo-list {
    flex: 1;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(22, 149, 212);
    margin: 5px;
    border-radius: 5px;
}

.repo-box {
    height: 350px;
    margin: 0px;
}

.repo-box__name {
    background-color: rgb(66, 70, 68);
    margin: 0;
    height: 20px;
}

.repo-box__name h4 {
    color: white;
    margin: 0;
}

.language-search form {
    height: 50px;
}

.language-search input {
    margin-left: 5px;
}

.App__SelectorContainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
align-items: center;
justify-content: center;
border: 2px solid rgb(22, 149, 212);
border-radius: 5px;
}

.App__SelectDate {
    background-color: rgb(22, 149, 212);
    color: aliceblue;
    width: 35%;
    float: right;
    height: 50px;
    padding-top: 35px;
}

.App__SelectDate__date-container {
display: flex;
align-items: center;
justify-content: center;
}

.App__SelectDate input {
    width:65px;
    border-radius: 2px;
    background-color: rgb(253, 253, 253);
    display: inline;
}

.App__SelectDate label {
    display: inline;
    float: left;
    margin-right: 5px;
}

.language-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-search label {
    margin-right: 5px;
}

.App__LanguageSearch {
    background-color: rgb(22, 149, 212);
    color:aliceblue;
    width: 35%;
    display: inline;
    float: left;
    padding-top: 35px;
}

p {
    color: rgb(7, 7, 7);
    font-size: 14px;
    text-shadow: silver;
    padding: 10px;
}

.ResultsPerPage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 149, 212);
    color: aliceblue;
    width: 100%;
    height: 85px;
    margin-right:50px;
}
.ResultsPerPage label {
    color:black;
}

.ResultsPerPage__increase {
    background-color: green;
    border: solid 1px aliceblue;
    border-radius: 3px;
    width:20px;
    color: aliceblue;
}

.ResultsPerPage__decrease { 
    background-color: rgb(190, 46, 46);
    border: solid 1px aliceblue;
    border-radius: 3px;
    width: 20px;
    margin: 5px;
    color: aliceblue;
}

.ResultsPerPage__amount {
background-color: aliceblue;
margin-right: 5px;
width: 30px;
border-radius: 3px;
}